@media screen and (min-width:772px) {
   .container {
      padding: 60px 10px;
   }
}

@media screen and (max-width:770px) {
   #mobile_nav {
      display: none;
   }

   .mobile_menu {
      display: block;
   }

   .user_porfile {
      display: flex;
      flex-direction: column;
   }
}

@media screen and (max-width:575px) {
   .container p {
      font-size: 12px;
   }

}